absl-py==2.1.0
astor==0.8.1
certifi==2023.11.17
charset-normalizer==3.3.2
cloudpickle==3.0.0
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.0
cycler==0.12.1
docopt==0.6.2
einops==0.7.0
filelock==3.11.0
fonttools==4.46.0
fsspec==2023.12.2
grpcio==1.62.1
h5py==3.10.0
idna==3.6
Jinja2==3.1.2
joblib==1.3.2
json-tricks==3.17.3
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.3
matplotlib==3.8.2
mpmath==1.3.0
networkx==3.2.1
nni==3.0
numpy==1.26.2
nvidia-ml-py==12.535.133
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
pipreqs==0.4.13
prettytable==3.10.0
protobuf==5.26.0
psutil==5.9.8
pyarrow==15.0.2
pygrinder==0.4
pyparsing==3.1.1
pypots==0.3.2
python-dateutil==2.8.2
PythonWebHDFS==0.2.3
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
responses==0.25.0
schema==0.7.5
scikit-learn==1.3.2
scipy==1.11.4
simplejson==3.19.2
six==1.16.0
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
threadpoolctl==3.2.0
torch @ https://download.pytorch.org/whl/cu118/torch-2.1.0%2Bcu118-cp310-cp310-linux_x86_64.whl#sha256=a81b554184492005543ddc32e96469f9369d778dedd195d73bda9bed407d6589
torchcde==0.2.5
torchdiffeq==0.2.3
torchsde==0.2.6
tqdm==4.66.2
trampoline==0.1.2
triton==2.1.0
tsdb==0.3.1
typeguard==4.1.2
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1
yarg==0.1.9
